body{
    margin: 0;
    padding: 0;
    background-color: #474244;
    color: #F7DCE8;
}
div{
    font-family: Cantora One;
    width: fit-content;
    word-spacing: 80px;
    padding-right: 70px;
    font-weight: bolder;
}
#logo{
    display: flex;
    padding-right: 450px;
}
nav{ 
    color: #474244;
    font-size: 28px;
    background-color: #F7DCE8;
    text-align: right;
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;
    justify-content: flex-end;
    
}
#h1index{
    font-family: Cantora One;
    font-size: 60px;
    line-height: 20px;
}
#h2index{
    font-family: Cantora One;
    font-size: 60px;
    line-height: 10px;
}
#h3index{
    font-family: Cantora One;
    font-size: 30px;
}
#buttonindex{
    font-weight: bolder;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-family: Cantora One;
    font-size: 20px;
    height: 80px;
    width: 350px;
    border-radius: 40px;
    background-color: #F7DCE8;
    color: #474244;
}
#sectionindex{
    padding-right: 50px;
    padding-top: 50px;
    float: right;
}
#pindex{
    font-family: Cantora One;
    font-size: 19px;
}
#headerindex{
        word-spacing: 5px;
        letter-spacing: 2.4px;
        padding-top: 95px;
        padding-left: 75px;
        float: left;
        color: #FCC7D1;
}
a{
    color: #474244; 
}
a:link{
    text-decoration: none;
}
