body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

#logo{
    position: absolute;
    left: 5%;
    font-family: 'Montserrat Subrayada', sans-serif;
   font-size: 155%;
}
    nav{ 
    margin-bottom: 1.5%;
    width: 100%;
    display: flex;
    align-items: center;  
    justify-content: flex-end;
    }
    .nav2{
    margin-bottom: 1.5%;
    width: 100%;
    display: flex;
    align-items: center;  
    justify-content: flex-end;  
    }
    .navegador{
    padding-top: 1.6%;
    position: fixed;
    width: 100%;  
    background-color: rgb(0, 0, 0,0.5);  
    }

    
    a{
        margin-right: 6%;
        font-size: 170%;
        font-weight: bolder;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff; 
    }
    a:link{
        text-decoration: none;
    }
    #header{
    letter-spacing:2px;
    position: absolute;
    top: 23%;
    right: 50%;
    float: left;
    color: #ffffff;
    width: 45%;
    }
    #linha{
        color: #b9b9b9;
    }
    #h1index{
        margin-left: 5%;
        font-family: 'Montserrat', sans-serif;
        font-size: 410%;
        line-height: 10%;
    }
    #h2index{
        margin-left: 5%;
        font-family: 'Montserrat', sans-serif;
        font-size: 360%;
        line-height: 10%;
    }
    #h3index{
        margin-left: 5%;
        font-family: 'Montserrat', sans-serif;
        font-size: 181%;
        line-height: 110%;
    }

    #pindex{
        text-align: justify;
        margin-left: 5%;
        font-family: 'Montserrat', sans-serif;
        font-size: 120%;
        line-height: 110%;
        width: 73%;
    }
    #buttonindex{
        margin-left: 8.5%;
        border: 1;
        font-weight: bolder;
        text-align: center;
        letter-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
        font-size: 68%;
        height: 80px;
        width: 60%;
        border-radius: 40px;
        border-color: #ffffff;
        background-color: #161616;
        color: #ffffff;
    }
    
    #capa{
        margin-top: 10%;
        margin-right: 6%;
        border-bottom-left-radius: 50px;
        width: 43%;
        position: absolute;
        left: 48%;
    }

    #eu{
        padding-top: 10%;
        padding-left: 4.5%;
        border-bottom-right-radius: 50px;
        
    }
    #sobre{
        font-family: Cantora One;
        float: right;
        padding-top: 13%;
        font-size: 130%;
        width: 50%;
        text-align: justify;
        padding-right: 6%;
        line-height: 120%;
    }
     #imagem{
        float: left;
        width: 45%;
        height: 60%;
        border-bottom-right-radius: 50px;
     }
     .duvidas{
        color: #FCC7D1;
        font-family: Cantora One;
        font-size: 195%;
        text-align: center;
        margin-top: 3%;
       }
     
    #formulario{
    font-size: 120%;
    position: absolute;
    right: 35%;
    }
    .nome1{
    margin-top: -12%;
    background-color:#F7DCE8;
    width: 280%;
    border: 0px;
    border-bottom-left-radius: 20px;
    height: 35px;
    }
    .email1{
    width: 280%;
    background-color:#F7DCE8;
    border: 0px;
    height: 35px;
    border-bottom-left-radius: 20px;
    }
    .mensagem1{
    width: 280%;
    background-color:#F7DCE8;
    border: 0px;
    border-bottom-left-radius: 50px;
    height: 210px;
    }
    .form{
        font-size: 120%;
        color: #FCC7D1;
        margin-top: 10%;
        margin-bottom: 3%;
    }
    .seta{
        margin-top: 4%;
        border-radius: 100%;
        width: 7%;
        float: right;
        margin-right: 4.5%;
    }
    .bola{
        border-radius: 100%;
        width: 7%;
        margin-right: 1.6%;
    }
    .bola2{
        border-radius: 100%;
        width: 16%;
        margin-right: 1.6%;
    }
    #bolas{
        margin-left: 6.8%;
    }
    #bolas2{
      position: absolute;
      left: 60%;
    }
    
   .atribuicao{
    margin-top: 12%;
    font-family: 'Montserrat', sans-serif;
    font-size: 190%;
    color: #ffffff;
    margin-left: 4.5%;
   }
   .atribuicao2{
    margin-top: 7%;
    font-family: 'Montserrat', sans-serif;
    font-size: 190%;
    color: #ffffff;
    text-align: right;
    margin-right: 35%;
   }

   .amostra{
    width: 30%;
    border-bottom-left-radius: 50px;
    position: absolute;
    top: 118%;
    left: 65%; 
   }
   .amostra2{
    width: 30%;
    border-bottom-right-radius: 50px;
    position: absolute;
    top: 152%;
    right: 65%;
   }
   .contato{
    height: 6%;
    width: 16%;
    position: absolute;
    top: 185%;
    right: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 70%;
    background-color: #161616;
    border: 1;
    border-color: #ffffff;
    color:#ffffff;
    border-radius: 30px;
   }
   .contatos{
    position: absolute;
    top: 30%;
    left: 12.4%;
    text-align: center;
   }
   .mcontatos{
    letter-spacing: 2px;
    font-size: 220%;
    color: #474244;
    font-family: Cantora One;
   }
   .phonemail{
    font-size: 120%;
    color: #474244;
    font-family: Cantora One;
   }
   .ilust{
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 140%;
    margin-left: 5%;
    align-items: center;
   }
   .desenho{
    margin-right: 2%;
    border-radius: 10%;
    width: 21%;
    margin-bottom: 1%;
   }
.vermais{
    background-color: #161616;
    border: 1;
    border-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 70%;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    position: absolute;
    right: 5%;
    width: 10%;
    margin-bottom: 5%;
}
