*{
    box-sizing: border-box;
    background-color:antiquewhite;
    color: rgb(129, 114, 91);
}
body{
    height: 900px;
    width: 900px;
    margin: 0 auto;
}
.imagem{
    height: 50px;
    width: 60px;
}

header{
    
    padding: 9px;
}
footer{
    text-align: center;
}
